[2017-05-12 08:30] mholo65 opened #3 "Rename Cake.Scripting.Core to Cake.Scripting"

[2017-05-12 08:30] mholo65 opened #4 "Add Cake.Scripting.Abstractions"
Shoudl include interfaces, and base entitites...

[2017-05-12 08:30] mholo65 opened #5 "Add Cake.Scripting.Transport"

[2017-05-14 18:59] mholo65 opened #6 "DefaultPackageInstaller should select correct TFM"
See code here https://github.com/mholo65/cake-server/blob/278d5128695b173165c695b7e476218fb4b90ef6/src/Cake.Bakery/Packaging/DefaultPackageInstaller.cs#L78

[2017-05-17 14:00] mholo65 commented on #3
Closed via #7

[2017-05-17 14:00] #3 closed

[2017-05-17 14:01] mholo65 commented on #4
Closed via #7

[2017-05-17 14:01] #4 closed

[2017-05-17 14:01] mholo65 commented on #6
Use `Cake.NuGet` instead once it's pushed.

[2017-05-17 14:03] mholo65 commented on #5
Project added in #7

Now we need:
* Transport (TCP preferred)
* Serialization if contracts (Binary preferred)

[2017-05-18 20:37] mholo65 commented on #5
Serialization added in #8

[2017-05-18 21:28] mholo65 opened #10 "Implement IAssemblyResolver for NETCORE"

[2017-05-18 21:30] mholo65 opened #11 "Cache Generated Cake Aliases"

[2017-05-18 21:33] mholo65 opened #12 "Implement Buffered FileSystem"
For reacting to file buffer changes

see example [here](https://github.com/mholo65/omnisharp-roslyn/tree/c93916fb6aa77b670b1fe3fe38a65b7536393d75/src/Cake.OmniSharp/IO)

[2017-06-01 20:39] mholo65 opened #14 "Create Integration Tests"
Create by e.g. Cake script. Don't use XUnit as in #9

[2017-06-01 20:39] mholo65 opened #15 "Create build scripts"
Create build scripts

//cc @gep13

[2017-06-03 17:39] gep13 commented on #15
@mholo65 yip, this is on my list.  I am working on the assumption that if I get Cake.Recipe building .NET Core Solutions, then it should be a simple add to use Cake.Recipe to build this project.

[2017-06-03 17:54] mholo65 commented on #15
:+1:

[2017-06-05 12:10] gep13 commented on #15
Looks like, thanks to the amazing work of @AdmiringWorm, we are one step closer to maybe getting this out the door 😄

[2017-06-06 19:47] mholo65 commented on #5
Closed via #9

[2017-06-06 19:47] #5 closed

[2017-06-06 19:50] mholo65 commented on #12
Closed via #13

[2017-06-06 19:50] #12 closed

[2017-06-06 20:08] mholo65 opened #16 "Update license/copyright"
Copyright DNF

[2017-06-06 21:06] mholo65 commented on #16
Closed via #17

[2017-06-06 21:06] #16 closed

[2017-06-06 21:08] mholo65 opened #18 "Push to MyGet"
- [ ] Push `Bakery.exe` as tool
- [ ] Push `Cake.Scripting.Transport` as library

[2017-06-06 21:09] mholo65 commented on #18
ping @gep13

[2017-06-06 21:10] bjorkstromm opened #19 "Add global.json for SDK pinning"

[2017-06-06 21:11] mholo65 opened #20 "Move test from src to test"

[2017-06-06 21:12] mholo65 opened #21 "[Bakery] shutdown application when socket closes"

[2017-06-06 21:13] gep13 commented on #20
@mholo65 what is the thinking behind this?

[2017-06-06 21:13] mholo65 opened #22 "Setup CI"
ping @gep13

[2017-06-06 21:13] gep13 commented on #18
@mholo65  Yip, this should be possible through the integration of Cake.Recipe.

[2017-06-06 21:15] mholo65 commented on #20
@patriksvensson suggested we move Tests out from `src` to `test` in root. I'm all in for that!

[2017-06-06 21:18] gep13 commented on #20
Cake.Recipe, as it currently stands, assumes that all projects, including Tests, live under a single `src`/`source` folder.

That is not to say that Cake.Recipe can't be changed to accommodate, but just wanted to point this out.

[2017-06-06 21:21] mholo65 commented on #20
@gep13 ok, lets follow `Cake.Recipe` conventions then :+1:

[2017-06-06 21:21] #20 closed

[2017-06-14 20:36] mholo65 commented on #6
Solved in #23

[2017-06-14 20:36] #6 closed

[2017-06-14 20:37] mholo65 opened #24 "Create Module for Bakery and Scripting"

[2017-06-14 20:38] mholo65 commented on #24
Avoids silly code like this https://github.com/cake-build/bakery/blob/develop/src/Cake.Bakery/Program.cs#L76

[2017-06-15 20:29] #24 closed

[2017-06-20 20:13] mholo65 commented on #21
Fixed in #26

[2017-06-20 20:13] #21 closed

[2017-06-27 20:08] #22 closed

[2017-06-27 21:46] mholo65 opened #29 "Enable DupFinder on build"
Currently disabled.

[2017-06-28 20:04] gep13 commented on #18
This has now been completed, and the environment variables added into AppVeyor configuration.

[2017-06-28 20:04] #18 closed

[2017-06-28 20:05] gep13 commented on #15
@mholo65 so I think we can close this one, right?

[2017-06-28 20:06] mholo65 commented on #15
@gep13 yep! Solved with CI issue!

[2017-06-28 20:06] #15 closed

[2017-06-28 20:07] mholo65 commented on #15
Solved by #27

[2017-07-04 18:54] mholo65 opened #32 "Push Cake.Scripting to MyGet/NuGet"

[2017-07-04 18:55] mholo65 opened #33 "Move Composition to separate assembly"

[2017-07-04 20:16] mholo65 opened #34 "Send information about Script Host in response"

[2017-07-05 21:10] mholo65 opened #36 "Use Configuration from Cake.Core instead of config in Bakery"

[2017-07-05 21:10] mholo65 commented on #34
Fixed in #35

[2017-07-05 21:10] #34 closed

[2017-07-13 21:45] mholo65 opened #38 "Incorrect package reference Transport -> Abstractions"
Transport is dependent on Abstractions v1.0.0, but there no such package.

See issue https://github.com/NuGet/Home/issues/4337 for workaround

[2017-07-13 21:54] #38 closed

[2017-07-15 20:14] mholo65 opened #42 "[CodeGen] Generic out param is missing Type parameter"
[StartProcess](http://cakebuild.net/api/Cake.Common/ProcessAliases/BAF6BEF4) get's generated wrong:

Expected:
[code]

Actual:
[code]

//cc @patriksvensson

[2017-07-15 20:15] mholo65 commented on #42
Also, seems to be missing documentation?

[2017-07-18 04:56] #42 closed

[2017-07-19 21:15] mholo65 commented on #36
Fixed in #37

[2017-07-19 21:15] #36 closed

[2017-07-23 19:43] mholo65 opened #44 "Namespace missing from Usings list"
Namespace missing from Usings list.

Tested with this simple script:
[code]

But generates the below (actual). Reference generated by `Cake.exe` (expected).

Expected | Actual
-- | --
Cake.Common |  
Cake.Common.Build |  
Cake.Common.Build.AppVeyor | Cake.Common.Build.AppVeyor
Cake.Common.Build.AppVeyor.Data | Cake.Common.Build.AppVeyor.Data
Cake.Common.Build.Bamboo | Cake.Common.Build.Bamboo
Cake

[2017-07-23 19:44] mholo65 commented on #44
@devlead @patriksvensson do you see any pattern why these namespaces are missing from the returned list of namespaces to import?

[2017-07-23 19:46] devlead commented on #44
Could it be the implicit property / method alias imports?

[2017-07-23 19:48] patriksvensson commented on #44
Hmmm, Perhaps we haven't implemented namespace attributes in the bakery based generator. I can take a look at this tonight.

[2017-07-23 19:50] mholo65 commented on #44
It seems to import those marked with  `CakeNamespaceImport`? But doesn't automatically import a namespace even tough it contains Method/Property alias

[2017-07-23 19:55] patriksvensson commented on #44
The problem is here: https://github.com/cake-build/bakery/blob/develop/src/Cake.Scripting/CodeGen/CakeScriptAliasFinder.cs#L139

We need to add namespaces for the types as well.

[2017-07-23 20:37] mholo65 commented on #11
@patriksvensson I started looking into this, but figured you might be best suited for this. Will require some refactoring and abstractions to refactor.

Currently, it's an issue that a set of references are sent to the `CakeScriptAliasFinder`. I.e. there's no way of knowing which aliases belongs to which assembly.

I was thinking about the following setup:
* Create interface `IScriptAliasFinder` w

[2017-07-24 09:22] #44 closed

[2017-07-30 21:39] mholo65 opened #48 "Documentation missing when out param"
related to #42 which fixed code gen. Documentation is still however missing.

Reproduce with this alias.
[code]

ping @patriksvensson

[2017-07-30 22:06] patriksvensson commented on #48
We probably don't generate the `CRef` for the method signature correctly which makes us not find the docs in the XML file.

[2017-07-30 22:06] patriksvensson commented on #48
@mholo65 We probably don't generate the `CRef` for the method signature correctly which makes us not find the docs in the XML file.

[2017-07-30 22:08] daveaglick commented on #48
Is this on me? If so, feel free to assign. Hoping to carve out some hours soon to clear my backlog of Cake docs issues.

[2017-07-30 22:08] patriksvensson commented on #48
@daveaglick Lucky for you, this isn't the website but the bakery app ;)

[2017-07-30 22:09] mholo65 commented on #48
but however, @daveaglick feel free to send PR if you like :wink:

[2017-07-30 22:10] daveaglick commented on #48
Lol, well then, carry on!

[2017-07-30 22:13] #11 closed

[2017-08-01 07:33] mholo65 opened #49 "Make resolution of Cake more robust."
Right now it searches recursively for `Cake.Core.dll`.

https://github.com/cake-build/bakery/blob/develop/src/Cake.Scripting/CodeGen/CakeScriptGenerator.cs#L232

We should add a more robust strategy for locating Cake.

Related to https://github.com/cake-build/omnisharp-roslyn/issues/1

[2017-08-16 16:37] mholo65 opened #51 "Sign assemblies and executable with DNF code signing certificate"
We should sign the artifacts.

@gep13 could you takevthe lead on this one?

[2017-08-16 18:34] mholo65 opened #52 "Generic constraints missing from codegen"
ping @patriksvensson

[2017-08-16 18:34] mholo65 commented on #52
You said it was missing, right?

[2017-08-25 18:32] mholo65 opened #53 "Don't install tools"
No need for bakery to install tools

[2017-08-25 18:36] mholo65 opened #54 "Enhance addin installation"
It takes lots of time to shell out to nuget and try to install packages which doesn't exist.

Example, writing `#addin Cake.Figlet` in VSCode one char at a time will result in trying to install packages `C`, `Ca`, `Cak` etc...

[2017-08-25 18:39] mholo65 commented on #54
@patriksvensson, perhaps `Cake.NuGet` could be enhanced at some point? For starters, I think I could just query NuGet API in Bakery before attempting to install.

[2017-08-28 04:37] #53 closed

[2017-09-04 19:01] #49 closed

[2017-09-14 20:06] mholo65 opened #58 "Handle all exceptions in server"

[2017-09-14 20:12] #58 closed

[2017-09-17 21:32] #14 closed

[2017-09-19 19:15] mholo65 opened #60 "Cleanup code"

[2017-09-20 09:18] #52 closed

[2017-09-20 20:06] mholo65 opened #62 "Metadata missing from NuGet packages"
Add metadata to `*.csproj` so that it's also available in Assembly Info

[2017-09-21 20:37] #51 closed

[2017-10-01 20:30] mholo65 opened #64 "Add StyleCop"

[2017-10-01 20:55] #62 closed

[2017-10-02 05:22] Meir017 opened #67 "How To Use"
I've been following this repository for over a month now but I'm not totally sure what it's supposed to do.
Seems to me to have something to do with intellisense for case scripts but I'm not sure.

Any plans on adding a section on how to use in the readme?

[2017-10-02 06:24] devlead commented on #67
Bakery is still work in process and still undergoing major refactoring, but when we've baked things and shipped something it's on the agenda to update readme and provide documentation,

Very simplified what it does. basically it replicates the code generation Cake does for its DSL, i.e. provides functionality needed for preprocessor directives, mapping script lines to generated lines, reflects ove

[2017-10-10 21:00] mholo65 opened #68 "Add support for using static"
See https://github.com/cake-build/cake/issues/1853

[2017-10-10 21:00] mholo65 opened #69 "Add support for #define"
See https://github.com/cake-build/cake/issues/1766

[2017-10-11 20:51] #54 closed

[2017-10-11 21:03] #68 closed

[2017-10-11 21:03] #69 closed

[2017-10-12 21:13] #60 closed

[2017-10-12 21:13] #64 closed

[2017-10-17 21:20] mholo65 opened #73 "Logging support"

[2017-10-18 12:58] #73 closed

[2017-10-18 19:19] mholo65 opened #74 "Build on Linux and Mac"
Make this a required check for merging PR.

[2017-10-26 17:57] mholo65 opened #75 "Cache script files loaded via #load when scheme is not local"
No need to try downloading these everytime.

[2017-11-01 18:03] Redth opened #76 "Linter? errors which should not be present..."
So, I've got a super simple script:

[code]

I'm on a Mac.

VSCode extensions:
omnisharp-vscode 1.13.0-beta4
cake-vscode 0.9.0

In tools:
Cake.Bakery 0.1.0
Cake 0.23.0

Omnisharp log:
[code]

Basically, I'm getting errors in the script with vscode telling me things have been declared multiple times:
![screen shot 2017-11-01 at 2 01 55 pm](https://user-images.githubusercontent.com/271950/32289509-4

[2017-11-01 22:16] Meir017 opened #77 "duplicated .cake file"
**Using VsCode 1.17 with C# 1.13.0-beta4**

I added the line
[code]
in a `.cake` file.

Running it the first time worked.

After that, I continued to edit the file.
When I hit Ctrl+Space to get intellisense I noticed another directory of `Cake.Recipe` was downloaded.

Before:
![image](https://user-images.githubusercontent.com/9786571/32300531-959e8a86-bf62-11e7-8bfc-cbe43b21fc77.png)

After:
![ima

[2017-11-02 20:57] mholo65 commented on #77
@Meir017 What version of Cake are you running? I'd expect that you are running something earlier than v0.22.0 by looking at how addins/tools are installed.

Bakery uses Cake.NuGet 0.23 to install addins/tools and therefore uses the same conventions as Cake > 0.22.0.

[2017-11-02 21:00] Meir017 commented on #77
`package.config`:
[code]
I tried to install the `Cake.Recipe` using the latest cake version but it failed because some of the addins require a lower version, the error message said something about a breaking change so I just downgraded the cake version

[2017-11-02 21:05] gep13 commented on #77
@Meir017 we are working on that issue for Cake.Recipe.  For now, you can use the skip parameter that is mentioned in the error message.

[2017-11-02 21:24] mholo65 commented on #76
@Redth hmm, looks odd. What happens when you click the "Code Lens" texts. E.g. `2 references` and `20 references`?

[2017-11-03 13:10] Redth commented on #76
@mholo65 so when i first click it i get:
![image](https://user-images.githubusercontent.com/271950/32375090-bf7607d4-c076-11e7-98b4-a333459052bf.png)

Then after i expand the guid looking seemingly temporary created script file, the reference count goes to '0' / disappears:
![image](https://user-images.githubusercontent.com/271950/32375133-df1a0158-c076-11e7-9ae4-c39da56ffa2f.png)

[2017-11-03 13:16] gep13 commented on #76
@Redth are you using Cake.Recipe in there?  Cake.Recipe creates some temporary cake files, which it then immediately deletes.

[2017-11-03 13:17] Redth commented on #76
@gep13 no cake.recipe in this case, just a silly simple build.cake

[2017-11-03 13:20] mholo65 commented on #76
@Redth the temporary file you see is the generated DSL. This is just a "convenience" marker that we use to know if e.g. goto-definition points to generated DSL or not.

See:
https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Cake/Constants.cs#L13
https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Cake/Services/CakeScriptService.cs#L58

[2017-11-03 13:21] Redth commented on #76
Right, I figured it was something along those lines....  So any other ideas for these weird red squigglies? :D

[2017-11-03 13:23] mholo65 commented on #76
Could you enable diagnostics log in OmniSharp and paste the whole log as a gist? I'm interested in the `findusages` requests especially.

[2017-11-03 13:38] Redth commented on #76
Here's a findusages, i'm not sure it applies directly to the scenario as it's output when the red squigglies are not highlighting the variable names, but rather seemingly random spots:

[code]

[2017-11-06 15:20] mholo65 commented on #76
@Redth I'm able to reproduce this on Linux as well. Will try to fix this.

[2017-11-06 21:31] mholo65 commented on #76
@Redth there seems to be an issue related to code generation (specifically documentation generation) in bakery which is only reproducable on Linux/Mac OS.

A simple quick workaround is to remove `Cake.Common.xml` from `tools/Cake/` folder. This way `bakery` wont pick up the documentation xml and therefore don't generate any documentation.

[2017-11-08 09:56] #76 closed

[2017-11-08 21:47] mholo65 opened #79 "Intellisense not working for .cake files in subfolders"
Need to investigate what's causing this..

[2017-11-09 17:11] Insire commented on #79
Thanks for opening this.

Here are some repro steps for my own [project(Maple)](https://github.com/Insire/Maple).
- Clone it
- Open its root folder with vs code
- Install Intellisense support
- move the new .\tools\Cake.Bakery\ folder to .\Cake\tools\
- Update cake.config in .\Cake\ with the following values
[code]

- restart vs code
-> after restart and reopen of the workspace, it should show int

[2017-11-09 17:20] mholo65 opened #80 "Slow performance with big/many files."
Currently we only get the whole buffer from VSCode on updates, so it’s hard to actually know what have been changed. Once LSP us taken into use in C# extension, we will get incremental updates.

We should make sure incremental updates don’t do script analysis and codegen when not needed.

Also, we should figure out how to improve perf when whole buffer is submitted.

[2017-11-10 18:21] gabomgp opened #81 "When referencing dll compiled with .net standard 2, intellisense in vs code stop working."
I create a minimal test case.

![image](https://user-images.githubusercontent.com/6035915/32672262-655340d0-c618-11e7-887f-4cae0616f837.png)

The problem is in intellisense is not working when i reference a dll copiled with .net standard 2.0

The code is avalaible in https://github.com/gabomgp/test-case-bug-bakery

In the code linked, the build.cake is inside a folder with a project in .net standa

[2017-11-10 19:02] gabomgp commented on #81
I think, this issue is related to https://github.com/OmniSharp/omnisharp-roslyn/issues/996

But the solution in that issue dosn't work in .cake files.

[2017-11-13 04:37] mholo65 commented on #79
@Insire could you check if https://www.myget.org/feed/cake/package/nuget/Cake.Bakery/0.1.2-beta0001 works for you?

[2017-11-13 16:12] Insire commented on #79
@mholo65 works flawlessly

![image](https://user-images.githubusercontent.com/11455827/32735701-bdc8e5a6-c895-11e7-95d3-68603da39ea1.png)

[2017-11-13 16:32] mholo65 commented on #79
@Insire thanks! Will try pushing 0.1.2 out later tonight then!

[2017-11-13 20:16] mholo65 commented on #79
Fixed in #82

[2017-11-13 20:16] #79 closed

[2017-11-13 21:52] jnm2 commented on #81
I'm getting the same thing, but with a normal .NET Framework assembly. Nothing .NET Core in the picture.
Just add `#r System.IO.Compression.FileSystem` and OmniSharp fails. @mholo65 should I start a new issue for this or is it connected?

[2017-11-13 22:07] mholo65 commented on #81
@jnm2 ah, I see.. Don't think we actually handle `#r` directives correctly in Bakery. In Cake itself it's easier, since we use reflection and that will automatically load assemblies from GAC based on only assemblyname. With this bakery/omnisharp-thingy we expect paths to DLLs.... @patriksvensson any ideas?

[2017-11-21 17:41] jnm2 commented on #81
I ran into the same problem today with `#r System.Net.HttpClient`.

[2017-11-29 21:30] mholo65 opened #85 "Can't reference DLL from GAC"
We currently assume all `#r` directives are file paths.

[2017-11-29 21:33] mholo65 commented on #81
@jnm2 I created a separate issue for GAC loading here #85

@gabomgp about `netstandard2.0`, that's not even supported in `Cake` itself. Why would like it to be supported via intellisense? `netstandard2.0` will work eventually, but that will take a little more effort.

[2017-11-29 21:34] mholo65 commented on #81
@gabomgp said:

Yes, we don't currently support that directive in Cake.

[2017-11-29 21:54] jnm2 commented on #81
@mholo65 The bigger issue is that I didn't need the `#r` line for Cake's sake, only OmniSharp's sake. Is there an issue tracking keeping OmniSharp in sync with Cake's default assembly references?

[2017-11-29 22:15] mholo65 commented on #81
@jnm2 oh, totally missed that. No there's no issue for that. Would you mind submitting one.

[2017-11-29 22:17] jnm2 opened #86 "OmniSharp needs to be kept in sync with Cake's default assembly references"
OmniSharp is incorrectly marking `ZipFile` as not found even though Cake compiles and runs fine.

[2017-11-29 22:17] jnm2 commented on #81
Sure. https://github.com/cake-build/bakery/issues/86

[2017-11-30 01:37] gabomgp commented on #81
@mholo65 The reason is that i want to regenerate the whole database and populate that with entity framework core and cake as the task runner. But, the models and the context are projects compiled with .net standard 2. I must use the context and models to use code first migrations with entity framework core. to create the empy database and populate it easily in developer's machines. I cant't do it

[2017-11-30 20:09] patriksvensson commented on #81
@gabomgp I'm sorry but I don't understand this. Cake does not support netstandard2.0 in any way, so why would it help to have support for it in Bakery? You simply can't reference a netstandard2.0 assembly in a cake script until we've merged the work done in Cake for supporting it.

Would you mind elaborating on why you would need Bakery support for this when it's not supported by the Cake script r

[2017-11-30 21:14] mholo65 commented on #81
@gabomgp wouldn’t it make more sense to use the [.NET Core EF Command Line Tools](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet) for dropping and creating your database? You can still use Cake as task runner and no need to reference DBContext in your Cake script.

[2017-12-02 01:35] gabomgp commented on #81
It's a good alternative. Thanks for the suggestion. I'll try it.

[2017-12-04 21:44] #80 closed

[2017-12-09 14:55] fschwiet commented on #67
In the troubleshooting section is says to check omnistar logs: https://cakebuild.net/blog/2017/11/intellisense-vscode

I don't know what an omnistar is, I can google instructions on turning on logging but I'm not sure I've found the right thing.  Can someone point me in the right direction?

[2017-12-09 15:48] SIkebe commented on #67
@fschwiet I can't find omnistar. Isn't it `omnisharp`?

[2017-12-09 15:58] gep13 commented on #67
@fschwiet what is being referred to is this:

![image](https://user-images.githubusercontent.com/1271146/33797101-c45502ce-dcf9-11e7-9896-0fe023c999a5.png)

Omnisharp runs inside VSCode, and if there are any problems with it, they should be written to the Output Log.

[2017-12-09 16:10] patriksvensson commented on #67
Where do you see `OmniStar` in that blog post?

[2017-12-09 16:38] fschwiet commented on #67
I wrote omnistar by mistake, I meant to reference Omnisharp.  Thanks for recognziing what I meant to ask anyhow.

[2017-12-11 21:47] mholo65 opened #87 "Check if reference exists before finding aliases"

[2017-12-11 21:55] #87 closed

[2017-12-12 20:38] david-driscoll opened #89 "Duplicating tools directories"
I've noticed an issue recently that is kind of odd.

If I have a nuget file with some cake files loaded via `#addin`, everything works correctly the first time.  Once I restart vscode and Bakery comes along, I get nested tools directories which causes cake tasks to fail because it loads duplicate tasks.

![image](https://user-images.githubusercontent.com/1269157/33907225-6feebe54-df52-11e7-8d7a-3a

[2017-12-12 20:39] david-driscoll commented on #89
Also this is with Bakery `0.1.2`

[2017-12-12 20:55] mholo65 commented on #89
@david-driscoll what `Cake` version are you using? At least there's issues with `Cake` pre 0.22.0 (see https://github.com/cake-build/bakery/issues/77#issuecomment-341555891)

[2017-12-12 20:56] david-driscoll commented on #89
I'm on `0.23`.
![image](https://user-images.githubusercontent.com/1269157/33908014-09bdd1f8-df55-11e7-93cf-9aa56170e73c.png)

[2017-12-12 21:03] mholo65 commented on #89
any `cake.config` or similar which might modify the `tools`-folder location? https://cakebuild.net/docs/fundamentals/default-configuration-values#tools-path

[2017-12-12 21:15] mholo65 commented on #89
Also are you using in-process NuGet in `Cake.NuGet`? https://cakebuild.net/docs/fundamentals/default-configuration-values#in-process-nuget-installation

[2017-12-12 21:18] david-driscoll commented on #89
In one case I have a cake.config, in this case I have no cake.config or
similar
On Tue, Dec 12, 2017 at 4:15 PM Martin Björkström <notifications@github.com>
wrote:

--
Thanks,
David

[2017-12-12 21:44] mholo65 commented on #89
@david-driscoll you mention that you load cake-files via `#addin` directive? Are any of these addins publicly available? The official "supported" methods are using `#load nuget:...` (like `Cake.Recipe`).

Additionally, @Redth have created a module which allows you to do `#load url:http://path.to.my/cakefile.cake`. Read about it here https://redth.codes/cake-load-url/

[2017-12-12 21:48] mholo65 commented on #86
@jnm2 we needed to publish 0.2.0 quickly in order to get the performance improvements into next OmniSharp release. I'll create a hotfix for fixing this in a not so distant future however.

[2017-12-13 14:45] david-driscoll commented on #89
I have seen issues with the addins as defined https://github.com/RocketSurgeonsGuild/Cake which are on nuget as `Rocket.Surgery.Cake`.

I plan to try and make a repository that has a reliable repro, I will try to get to that tonight.

[2017-12-14 06:00] david-driscoll commented on #89
@mholo65 minimal repro https://github.com/david-driscoll/bakery-repro-89

[code]

Once omnisharp starts and bakery starts working it'll create a directory tree like:
![image](https://user-images.githubusercontent.com/1269157/33977664-f20dcd0e-e069-11e7-8758-d587a4091399.png)

And any more calls to `build.ps1` will fail in glorious fashion:
![image](https://user-images.githubusercontent.com/1269157

[2017-12-14 22:17] mholo65 commented on #89
@david-driscoll I've found the bug. It's actually a issue that needs to be fixed in Cake, and not Bakery.

TL;DR;
Here:
https://github.com/cake-build/cake/blob/39520c3c3499ecd80d93979b28b8cc94e30033de/src/Cake.NuGet/NuGetLoadDirectiveProvider.cs#L56
Change it from:
[code]
to
[code]

You are seeing this issue because you have a `#load nuget:...` in a file NOT located in your workspace root. In Cake

[2017-12-14 22:18] mholo65 commented on #89
Please note that in bakery, we set `_environment.WorkingDirectory` to same as OmniSharp's workspace root.

[2017-12-15 14:27] jnm2 opened #90 "Errors from #loaded scripts erroneously shown in the current script"
My build.cake has three `#load` directives. The first one happens to be loading a script ("lib.cake") which OmniSharp is reporting errors for. (It shouldn't be giving errors for that file, but I think it's another case of https://github.com/cake-build/bakery/issues/86. It's failing to find any of the types I'm using under `System.Net.Http`.)

In any case, red squiggles are showing up in build.cake

[2017-12-21 20:50] mholo65 opened #91 "Provide ZIP artifacts"

[2017-12-21 22:04] #89 closed

[2018-02-06 20:56] mholo65 opened #94 "Provide Chocolatey artifact"

[2018-02-06 21:12] #91 closed

[2018-02-07 00:28] devlead opened #96 "Provide Homebrew formula"
When global bakery supported in Omnisharp, it would be nice if it was avail on Homebrew, can probably use Cake one as template.

[2018-02-07 20:38] mholo65 commented on #96
@devlead want to take a stab at this? Is #74 a prerequisite?

[2018-02-07 20:50] #86 closed

[2018-03-01 21:11] mholo65 opened #97 "Update to Cake 0.26.0 references"

[2018-03-01 21:52] #97 closed

[2018-03-06 22:25] mholo65 commented on #74
Closed #99

[2018-03-06 22:25] #74 closed

[2018-03-15 07:40] patriksvensson opened #100 "Tools folder are always created at the workspace root"
if I keep my cake scripts in a folder called `scripts` and open vscode with bakery globally installed and the workspace root one level up, it will restore packages to the workspace root.

I tried adding a `cake.config` to the workspace root, but that doesn't seem to be respected.

**What happens**

[code]

**What is expected**

[code]

[2018-04-20 13:15] mholo65 opened #102 "Update to Cake 0.27.0"

[2018-04-23 19:41] #102 closed

[2018-05-23 13:13] jnm2 opened #104 "Please use C#'s ‘Latest’ version for parity with Cake's runtime behavior"
If you use a C# 7.1+ feature, such as `readonly struct`, Bakery reports this error:

When Cake runs the script however, it must use LanguageVersion.Latest because it compiles and runs without error. Is there a good way to ensure that Bakery's compilation options stay in sync with Cake's?

[2018-05-23 16:16] jnm2 commented on #104
PR: https://github.com/OmniSharp/omnisharp-roslyn/pull/1200

[2018-08-01 14:30] Marusyk commented on #79
Doesn't work in 0.3.0

[2018-08-01 20:42] mholo65 commented on #79
@Marusyk, could you please open a new issue containing minimal steps to reproduce and verbose logs from VS Code / OmniSharp? You can set log level by specifying `”omnisharp.loglevel” : ”trace”` in your VS Code workspace settings. Thanks!

[2018-08-01 21:38] Marusyk opened #105 "Intellisense not working for .cake files in subfolders"
Here are some repro steps

- Create subfolder with name __cake__ in root folder of project
- Add __build.cake__, __build.ps1__ files to  __cake__ folder
- Add subfolder __tools__ to  __cake__ folder
- Add **packages.config** file like:

[code]
![screenshot_1](https://user-images.githubusercontent.com/9221694/43550337-e6d7fac6-95eb-11e8-9ba9-623610d9542b.png)

- Run `.\build.ps1`
![screenshot_2](ht

[2018-08-01 21:39] Marusyk commented on #105
Issue #79

[2018-08-13 09:50] mholo65 commented on #105
@Marusyk,

do you have a `cake.config` file in the root folder, containing the following:
[code]

[2018-08-14 13:26] Marusyk commented on #105
No, I didn't know about that. Thanks.

There are any documentations about that?

[2018-08-14 13:26] #105 closed

[2018-09-06 00:42] serialprimate commented on #100
This issue might be related to:

System.IO.FileNotFoundException: Cake is not installed. Path c:/git/redacted/tools/Cake/Cake.Core.dll does not exist.
   at OmniSharp.Cake.CakeProjectSystem.GetProject(CakeScript cakeScript, String filePath)
   at OmniSharp.Cake.CakeProjectSystem.AddCakeFile(String cakeFilePath)

I have been using a 'build' directory.

Matt

[2018-10-28 18:37] gep13 opened #106 "Create a Chocolatey Package for Bakery"
To aid with getting it downloaded and available on the path.

[2018-11-06 16:58] nalla opened #108 "Support global installation of cake"
Currently cake needs to present in the local repository.

https://github.com/OmniSharp/omnisharp-roslyn/blob/426ba087907c16d464c95b3841a11172d3123e7e/src/OmniSharp.Cake/CakeProjectSystem.cs#L270

or

https://github.com/cake-build/bakery/blob/develop/src/Cake.Scripting/CodeGen/CakeScriptGenerator.cs#L227

Instead `Cake.Bakery` should be responsible of searching and using the core dll when cake is i

[2018-11-07 12:19] mholo65 commented on #106
Fixed by #107

[2018-11-07 12:19] #106 closed

[2018-11-07 13:10] gep13 commented on #106
Woo hoo :-D  Thanks for merging!

[2019-01-03 06:50] #108 closed

[2019-01-21 22:34] mholo65 opened #111 "Issues with incremental changes"
Issues with incremental changes when adding character at last position or empty incremental change.

Issue found when playing with OmniSharp LSP.

--> Investigate. WIll turn of incremental changes for Cake in OmniSharp until this is fixed and new release is pushed.

[2019-03-16 07:54] #94 closed

[2019-03-16 07:55] mholo65 commented on #90
Fixed in OmniSharp

[2019-03-16 07:55] #90 closed

[2019-03-16 08:40] mholo65 opened #112 "Sign Choco package"

[2019-03-16 08:56] mholo65 commented on #112
Fixed in 846fd1f6d2ccb38709f2066f443778beebe75fa9

[2019-03-16 08:56] #112 closed

[2019-04-03 19:32] bjorkstromm opened #114 "Update to O# Mono 5.18 in tests"
See https://github.com/OmniSharp/omnisharp-roslyn/pull/1444

[2019-05-09 15:07] ecampidoglio commented on #81
I'm running into this issue with VS Code on macOS:

![Cake Bakery-Intellisense-error-on-macOS](https://user-images.githubusercontent.com/877348/57464336-d2396a00-727c-11e9-906b-eb40686f6c78.png)

Oddly enough, the Intellisense itself is working. Also, there are no errors in the Omnisharp log and the only symbol where I'm getting this error on is the `Task` alias.

@mholo65 Do you have any suggesti

[2019-05-09 17:08] mholo65 commented on #81
@ecampidoglio hmm, seems like some reference is not passed correctly to Roslyn. What version of Cake are you using? Are you using Cake, Cake.CoreCLR or Cake.Tool? What version of Cake.Bakery are you using? What version of C# for VS Code are you using? Do you use the default OmniSharp version shipped with the VS Code extension, or do specify another version? Do you have a minimal script where this

[2019-05-09 19:14] ecampidoglio commented on #81
- Cake.CoreCLR: `0.33.0`
- Cake.Bakery: `0.4.1`
- C# for VS Code: `1.19.1` (including OmniSharp)

I'll see if I can reproduce this in a minimal script.

Btw, everything works as expected with the exact same repo on Windows.

[2019-05-09 19:58] ecampidoglio commented on #81
This happens every time with the simplest of scripts:

[code]

Error message:

Here's the OmniSharp log:

    Path: /Users/Enrico/.vscode/extensions/ms-vscode.csharp-1.19.1/.omnisharp/1.32.19/run
    PID: 36994

        Starting OmniSharp on MacOS 10.13.6 (x64)
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath set to dotnet
[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator
        Lo

[2019-05-09 21:54] mholo65 commented on #81
Hmm, might be something with the Mono version on your system (or with the one shipped with OmniSharp). Could you try playing with the [omnisharp.useGlobalMono](https://github.com/OmniSharp/omnisharp-vscode/blob/master/package.json#L621) in VS Code and see if it helps?

Also, can you reproduce using Cake or Cake.Tool?

@gep13 @devlead are you able to reproduce on Mac?

[2019-05-16 09:59] ecampidoglio commented on #81
Setting the `useGlobalMono` option to `always` resulted in the same error.

Here's the log:

    Path: /Users/Enrico/.vscode/extensions/ms-vscode.csharp-1.19.1/.omnisharp/1.32.19/omnisharp/OmniSharp.exe
    PID: 1379

        Starting OmniSharp on MacOS 10.13.6 (x64)
[info]: OmniSharp.Services.DotNetCliService
        DotNetPath set to dotnet
[info]: OmniSharp.MSBuild.Discovery.MSBuildLocator

[2019-08-04 20:15] bjorkstromm opened #115 "Does not work with Cake installed with Choco"
https://github.com/cake-build/bakery/blob/develop/src/Cake.Scripting/CodeGen/CakeScriptGenerator.cs#L243

Due to the shims provided by Choco, `Cake.Core.dll` and `Cake.Common.dll` does not sit next to the `Cake.exe` found in path (as this is the shim).

See:
[code]

[2019-08-04 20:15] mholo65 commented on #115
cc @gep13 @patriksvensson

[2019-08-04 20:28] devlead commented on #115
Interesting:
`cake shimgen-help` will give you target path.

Guess one could check `"$env:ChocolateyInstall\lib\cake.portable\"`

[2019-10-12 19:27] #75 closed

[2019-10-25 17:57] vchirikov commented on #100
Any workaround?

[2020-10-02 21:42] pascalberger commented on #67
Instructions how to enable IntelliSense in Visual Studio Code is now available at https://cakebuild.net/docs/editors/vscode/intellisense.

[2020-10-02 21:42] #67 closed

[2020-10-03 09:32] pascalberger opened #116 "Fix Bitrise build badges"
Build badges for Bitrise in the README are broken

[2020-10-03 09:35] devlead commented on #116
Maybe just switch to github actions for bakery?

[2020-11-11 21:22] mholo65 opened #118 "Crash when adding newline at end of file"
We started seeing this when incremental changes was taken into use in OmniSharp VSCode

[2020-11-11 21:23] mholo65 commented on #118
Fixed in #117

[2020-11-18 07:22] #118 closed

[2020-11-19 20:19] gep13 opened #119 "Fix build process"
As a result of updating to the latest version of Cake.Recipe, alterations were made to the build process which meant that some steps were happening out of order, i.e. uploading of artifacts, before the signing process was completed.

This needs to be addressed, so that future releases don't have the same problem.

[2020-11-19 20:55] #119 closed

[2020-11-19 21:29] gep13 opened #120 "Update wording in Twitter/Gitter messages"
Currently the Tweet that is sent out when a new version of Cake.Bakery is released is this:

https://twitter.com/cakebuildnet/status/1329533497430700033

Cake.Bakery isn't really an addin, so it should be updated to reflect exactly what it is.

[2020-11-19 21:29] gep13 opened #121 "Update GitReleaseManager configuration"
To take advantage of updating of issues when milestone is closed, and also so apply a SHA to all uploaded artifacts in the GitHub Release.

[2020-11-20 07:13] gep13 opened #122 "Enable builds on GitHub Actions"

[2021-01-07 06:43] mholo65 opened #124 "Build for ns2.0 to make available from .NET Core / .NET 5.."
Needed if O# is moving to .NET 5.

[2021-01-07 06:44] mholo65 commented on #124
Fixed in #123

[2021-01-07 06:44] #124 closed

[2021-01-28 13:49] ymartin59 commented on #115
Thanks. This explains why IntelliSense does not work... I would say it requires a fix in https://github.com/cake-build/bakery/pull/109/files after https://github.com/cake-build/bakery/issues/108
Also related to issue: #79

[2021-01-28 13:53] ymartin59 commented on #115
There is no configuration to divert `Cake.Core.Dll` autodetection. It may be interesting.
Or even better, grab target location from `cake shimgen-noop`

[2021-01-28 16:00] ymartin59 commented on #115
As an immediate work-around, append `C:\ProgramData\chocolatey\lib\cake.portable` to System PATH variable before `C:\ProgramData\chocolatey\bin\`... (do not add it to User profile PATH as it has less priority)

[2021-02-19 07:03] nils-a opened #125 "Search for dotnet-cake in ~/.dotnet/tools/ additionally to PATH"
As in https://github.com/cake-build/cake-rider/issues/78, [sometimes](https://github.com/cake-build/cake/discussions/3171) (seemingly on macs) the `$HOME/.dotnet/tools/` (`%USERPROFILE%\.dotnet\tools\`) is not in `PATH`.
We should, when resolving `dotnet-cake[.exe]`, check those folders additionally to `PATH`.

[2021-02-20 18:49] bjorkstromm commented on #125
If anyone wants to take a stab at this. Relevant code is here:
https://github.com/cake-build/bakery/blob/develop/src/Cake.Scripting/CodeGen/CakeScriptGenerator.cs#L227

IMO we should also reorder the order that these are resolved in. First local (tool path), then Global Tool, then Cake.exe.. We could also consider ship Cake.Common with Bakery and use "built-in" Cake.Core + Cake.Common (preferably

[2021-03-04 06:36] #125 closed

[2021-03-04 14:36] gep13 commented on #125
@nils-a I have marked this as a bug, and assigned to the 0.5.2 milestone.  Does this make sense?

@bjorkstromm are you in a position to do a release of bakery, or would you like some help in this regard?

[2021-03-04 15:06] bjorkstromm commented on #125
@gep13! Great! Not currently in position to do a release, might be able later. If you have time, please go ahead. It's using Cake.Recipe, so you know the process by heart 😄

[2021-03-04 20:01] #120 closed

[2021-03-04 20:01] #121 closed

[2021-03-04 20:06] #122 closed

[2021-03-06 13:36] rmbrunet opened #127 "0.6.0 Omnisharp Parsing Errors"
Hello, seeing the following problem(s):

1.- Created brand new console application
2.- Initialized CakeBuild (tool-manifest, etc.)
3.- Added sample cake.build. Verified that it works.
3.- Installed Cake.Bakery using the VS Code Command option (Cake install enable intellisense support).  Got an errors in the OmniSharp log. No intellisesense. Here is the Omnisharp log:

Starting OmniSharp server at

[2021-03-06 17:31] augustoproiete commented on #127
Currently the IntelliSense requires the Cake .NET tool to be installed as a **global tool**. Based on your comment, it looks like you installed the Cake .NET tool as a **local tool** via the manifest (which is fine - and what's recommended for building your projects -, but specifically for the IntelliSense it's not used)... So in your case you need to have both local and global tool installed.

Co

[2021-03-06 19:03] rmbrunet commented on #127
Hi Augusto,

The first -normal- option didn't work ___but the temporary work around did___. I verified that the global tool was visible from the terminal (deleting the tool-manifest). But it seems that was not visible from the Cake.Bakery tool: it was looking for it under the local tools folder.

If I can be of any help providing information about my configuration, or testing something let me know

[2021-03-06 19:48] augustoproiete commented on #127
@rmbrunet Great to hear that at least you have a workaround to get the IntelliSense working!

If you have a chance, could you try to clone this repo: https://github.com/augustoproiete-repros/repro-omnisharp-parsing-errors-cake-bakery and and repeat the normal steps, see if you get the same errors with OmniSharp, and post the full log here?

Also, could you please post the contents of `dotnet --inf

[2021-03-07 12:29] rmbrunet commented on #127
Hello All,

Seeing that @nils-a probably already fixed whatever was happening... @augustoproiete,  will do what you asked anyway in case is useful.

Ffter cloning the repo and repeating the "normal" process the result is still bad - but different than before: I see no errors in the OmniSharp Log (inlcuded below) but a lot of  PROBLEMS of the type:

{
	"resource": "/B3437BF2-8AE3-4281-8726-B926BB9D

[2021-03-07 13:26] #127 closed

[2021-03-07 14:35] rmbrunet commented on #127
It seems the issue wasn't completely resolved with 0.6.1.

1. Created new folder.
2. Created tool-manifest
3. Installed Cake.Tool
4. Installed sample cake.build
5. Tested dotnet cake in the terminal. All good. No intellisense yet.
6.  Enabled intellisense. Re-started OmniSharp. Intellisense works but now there are numerous errors of the type "The Type <Type> is defined in an assemble that is not r

[2021-03-07 14:43] gep13 commented on #127
Can you clarify what you did here:

There are two options when you choose this command in Visual Studio Code.  Thanks

[2021-03-07 14:58] rmbrunet commented on #127
This one

![image](https://user-images.githubusercontent.com/2124799/110244180-849af080-7f2b-11eb-8beb-9d492c111205.png)

This is how the folder lokks

![image](https://user-images.githubusercontent.com/2124799/110244213-a5fbdc80-7f2b-11eb-83df-939c1270d5de.png)

[2021-03-07 19:08] augustoproiete opened #129 "The type 'Action<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=5.0.0.0 ...'"
[code]

<details>
<summary>OmniSharp log... (click to expand)</summary>
<p>

Starting OmniSharp server at 3/7/2021, 2:55:22 PM
    Target: c:\augustoproiete\cake\test-bakery

OmniSharp server started.
    Path: c:\Users\augustoproiete\.vscode\extensions\ms-dotnettools.csharp-1.23.9\.omnisharp\1.37.8-beta.4\OmniSharp.exe
    PID: 27192

[info]: OmniSharp.Stdio.Host
        Starting OmniSharp on Win

[2021-03-07 19:09] augustoproiete commented on #127
Thanks @rmbrunet I can repro the `Type is defined in an assemble that is not referenced` error. Tracking on https://github.com/cake-build/bakery/issues/129

[2021-03-07 19:33] devlead commented on #129
Could this be related to https://github.com/OmniSharp/omnisharp-vscode/issues/3289 ?

[2021-03-07 20:35] augustoproiete commented on #129
I tried the [workaround suggested there](https://github.com/OmniSharp/omnisharp-vscode/issues/3289#issuecomment-534462185) and it didn't seem to have any effect:

[code]

[2021-03-07 20:44] rmbrunet commented on #129
FWIW, the Cake.Tool is installed locally, per recommendation, and globally for intellisense.

[2021-03-07 21:31] bjorkstromm commented on #129
No, Cake doesn't rely on MSBuild stuff. This is probably because .NET 5 deps are missing here. https://github.com/cake-build/bakery/blob/45f37b127492281f5cdacefe654887e4a2e98507/src/Cake.Scripting/CodeGen/CakeScriptGenerator.cs#L184

This might be tricky to solve, since Bakery is currently running on .NET 4.6.

[2021-03-07 21:34] augustoproiete commented on #129
I did a few tests, and the problem seems to have been introduced with Cake 1.0.0 with the introduction of `net5.0` target.

Cake.Bakery [resolves `Cake.dll`](https://github.com/nils-a/bakery/blob/a30d4856bc907d5b436ef4393769b1bf2dfb3ebf/src/Cake.Scripting/CodeGen/CakeScriptGenerator.cs#L259-L274)  as the following:

[code]

Before Cake 1.0, it resolved to:
- `%USERPROFILE%/.dotnet/tools/.store/cak

[2021-03-07 21:38] devlead commented on #129
So we need a Bakery Tool 🤔

[2021-03-07 21:46] bjorkstromm commented on #129
Yes, either investigate moving Bakery to .NET 5 (will require changes on O# side on how tool is invoked) or make sure Bakery resolves a `Cake.dll` from Cake.Tool which is `netstandard2.0` compatible. Problem seems to be that Cake.Core and Cake.Common targets ns2.0 and net5.. When the net5 version of Cake.Tool is resolved (as @augustoproiete pointed out), it will only find a Cake.Core and Cake.Comm

[2021-03-07 21:50] augustoproiete commented on #129
As an intermediary fix, should we release a new version of Cake.Bakery that resolves `Cake.dll` to `netcoreapp2.1/any/Cake.dll` to get it to work?

[2021-03-07 21:53] bjorkstromm commented on #129
Preferably the `netcoreapp3.1` since that's LTS, and will also contain the ns2.0 versions of Cake.Core and Cake.Common

[2021-03-07 21:54] bjorkstromm commented on #129
I mean, we might be more likely to drop net core 2.x monikers from Cake.Tool in future versions than net core 3.1.

[2021-03-07 22:07] devlead commented on #129
But shouldn't a net46 binary resolve the net46 assemblies?

[2021-03-07 22:17] augustoproiete commented on #129
@bjorkstromm Sounds good to me, if `netcoreapp3.1` will work just as well (via `netstandard2.0`).

@devlead What do you mean? We don't include `net46` assemblies with the .NET Tool

[2021-03-08 06:10] devlead commented on #129
I mean, if Bakery is a `net46` app loading `netcoreapp` binaries can be a hit and miss with issues as what it "legally" can load `netstandard` or `net46` even if `Cake.Core` would happen to be `netstandard` addins/assemblies loaded probably won't , so maybe better would be a `Cake.Bakery.Tool` that could target the same frameworks as `Cake.Tool`, installing it locally would give exe that could be

[2021-03-08 06:24] bjorkstromm commented on #129
Cake.Bakery doesn't load (via reflection) Cake.Core nor Cake.Common, it only resolves the paths which are fed to Roslyn (OmniSharp-Roslyn) as Metadatareferences when script is compiled. Resolving a path for a ns2.0 built DLL will work (and has worked), but resolving a net5 built DLL will not work.

In the long run, supporting net5 (or preferably net6) is optimal. But that will require more work, b

[2021-03-08 06:54] devlead commented on #129
Ok can't e just ship Core / Common with bakery then?

[2021-03-08 07:03] bjorkstromm commented on #129
Sure, but the original reasoning behind this behavior was to provide intellisense for the Cake version that the user used (e.g. was installed in `tools` folder). Now with global tool etc (and Cake v1.x) this might not be needed anymore. Shipping latest Cake.Core a Cake.Common with Bakery might be good-enough solution.

[2021-03-08 19:17] #129 closed

[2021-03-09 02:38] augustoproiete commented on #127
@rmbrunet Cake.Bakery 0.6.2 should fix the `Type is defined in an assemble that is not referenced` error you saw reported above. Please let us know if you find anything else.

[2021-03-09 15:14] rmbrunet commented on #127
Thanks @augustoproiete! I did test 0.6.2 all worked fine.

[2021-03-15 02:00] gitfool opened #131 "Intellisense issues"
I thought I'd take another look at Cake intellisense in Visual Studio Code. My setup:
* [`Cake.Tool`](https://github.com/cake-build/cake) 1.1.0 installed as a global tool
* [`Cake.Bakery`](https://github.com/cake-build/bakery) 0.6.2 installed using chocolatey
* [`Cake.Dungeon`](https://github.com/gitfool/Cake.Dungeon) source

Everything seems to initialize okay when I open the repo root in Visual

[2021-03-15 15:04] nils-a commented on #131
I somehow have the feeling this is a limitation for multi-cake-file-projects in bakery.
@bjorkstromm did you say something like that sometime?

[2021-03-15 15:11] bjorkstromm commented on #131
In the screenshot, do you load (via `#load`) the file where `Build` is defined?

[2021-03-15 16:07] nils-a commented on #131
That's in `scripts/bootstap.cake`

[2021-03-15 16:47] bjorkstromm commented on #131
Yes, that must be loaded from `tasks.cake` then. All dependencies must be loaded in a script in order for compilation to find it.

You'd get the exact same compilation errors if you'd use `tasks.cake` as entry point when running cake. E.g.
[code]

[2021-03-15 17:01] gep13 commented on #131
All the scripts are loaded from the build.cake file here:

https://github.com/gitfool/Cake.Dungeon/blob/master/build.cake#L1

[2021-03-15 17:03] gep13 commented on #131
Once being used on an actual "build" I am assuming that Cake.Dungeon would be loaded using the `load` preprocessor that references a NuGet package, similar to how Cake.Recipe works.

[2021-03-15 17:16] bjorkstromm commented on #131
Yes, but then the entry point is `build.cake`. In the attached screenshot, the opened file is `scripts/tasks.cake`. The compiler can not know about dependencies that are not loaded, therefore the compiler errors are shown.

[2021-03-15 17:33] gep13 commented on #131
When you say entry point, can you confirm what you mean? Is it that this is the file that is open?

[2021-03-15 17:41] gitfool commented on #131
Basically there are multiple script files that all come together:
* Loaded in [build.cake](https://github.com/gitfool/Cake.Dungeon/blob/60cac2a682d92b833db1f89c79d02afdc8c0f913/build.cake#L1)
* Definition of `Builder` class in [builder.cake](https://github.com/gitfool/Cake.Dungeon/blob/60cac2a682d92b833db1f89c79d02afdc8c0f913/scripts/builder.cake#L1)
* Instantiation of `Builder` class in [bootstra

[2021-03-15 17:50] bjorkstromm commented on #131
Yes, the file that is open.

[2021-03-15 17:54] gep13 commented on #131
So, should this work if the build.cake file is opened and Omnisharp restarted?

[2021-03-15 18:14] bjorkstromm commented on #131
If `build.cake` is opened, yes the intellisense should work for that file, and no red squigglies under the `Build` symbol. No need to restart OmniSharp to get that working.

In order to get it working for the file in the attached screenshot, that file MUST load it's dependencies. E.g. add

[code]

To the top of that file.

Does this make sense? As I mentioned earlier, when you have opened `tasks.c

[2021-03-28 22:14] gitfool commented on #131
Thanks, @bjorkstromm! I [rearranged the deck chairs](https://github.com/gitfool/Cake.Dungeon/commit/f957c2f3d3ffa21a9a02e6f1a65a9b25f3b56d10) and now I'm only seeing the following intellisense issues in [tasks.cake#L203](https://github.com/gitfool/Cake.Dungeon/blob/f957c2f3d3ffa21a9a02e6f1a65a9b25f3b56d10/scripts/tasks.cake#L203):

![image](https://user-images.githubusercontent.com/750121/11276955

[2021-04-03 19:56] gitfool commented on #131
AFAICT, OmniSharp should already be using the latest C# language version.

The first error, `The non-generic method 'Enum.Parse(Type, string)' cannot be used with type arguments [...] csharp(CS0308)`, refers to [CS0308](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0308) for the [Enum.Parse\<TEnum\>(String)](https://docs.microsoft.com/en-us/dotnet/api/system.enum.parse#System_Enum_Parse__1

[2021-04-03 20:42] bjorkstromm commented on #131
Interesting. IIRC, we use `latest` as lang version for Cake, and it's not configurable.

I need to test this and see. It might be that script is (for some reason) tarheting NetFx insteand of NetCore (or NET5). If you set OmniSharp log to verbose (trace), you should see the path for Cake.Core and Cake.Commom it's using.

[2021-04-03 20:56] gitfool commented on #131
Looks like `Cake.Core` is being loaded from [`Cake.Tool`](https://github.com/cake-build/cake) 1.1.0 installed as a global tool: [OmniSharp.log](https://github.com/cake-build/bakery/files/6253363/OmniSharp.log)

[2021-04-08 21:53] nils-a opened #132 "Bakery breaks when PATH contains a folder with more than 260 characters"
This came up in https://github.com/cake-build/cake/discussions/3298 :

If `PATH` contains a folder "longer" than 260 characters, bakery breaks on start.
This is fairly easy reproducible by installing the tool `upgrade-assistant` (`dotnet tool install -g upgrade-assistant`)

[code]

[2021-04-30 05:56] bjorkstromm opened #133 "Strong-name sign Abstractions and Transport"
Needed for https://github.com/OmniSharp/omnisharp-roslyn/pull/2143

[2021-04-30 06:10] 333fred commented on #133
Hopefully we do have a workaround by using https://github.com/dsplaisted/strongnamer, but it would be good to have all dependencies _actually_ strong-name signed. Should help anyone else who runs into similar problems.

[2021-04-30 06:15] gep13 commented on #133
@333fred I have used this tool https://github.com/brutaldev/StrongNameSigner on the Chocolatey code base when we have needed to sign some dependencies that aren't strong named, and this has worked really well for us.

[2021-04-30 06:58] 333fred commented on #133
I tried that one first, actually. It didn't appear to work with recent versions of msbuild.

[2021-04-30 07:07] gep13 commented on #133
Hmm, this might be some fun in my immediate future then ☹️ Chocolatey is currently targeting older versions of MSBuild for backwards compatibility, which is likely why we haven't seen problems.

[2021-04-30 16:44] #133 closed

[2021-04-30 17:48] bjorkstromm opened #136 "Freeze assembly version after strong name signing"

[2021-04-30 17:57] #136 closed

[2021-04-30 19:45] gitfool commented on #131
@bjorkstromm I guess you haven't had a chance to look into this? Let me know if I can help...

[2021-05-01 14:13] bjorkstromm commented on #131
Correct (but I also forgot about this 🙈). But I *think* we somehow need to change the target framework to work around this. It might need some work to accomplish that however.

On the top of my head, I'm unsure where to start, but I *think* OmniSharp.Script supports changing target framework, so that could give us some hints. We also need to modify Bakery side to resolve correct assemblies from Ad

[2021-08-11 14:59] nils-a opened #137 "System.NotSupportedException: Cake does not support /v2/gotodefinition"
I noticed `GoToDefinition` is no longer working.
the log shows:
[code]

I'm guessing this came with https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.23.13

[2021-08-16 02:18] flcdrg commented on #132
Confirmed. Just saw the same thing logged to the Application event log

[2021-08-16 12:35] nils-a commented on #137
I'm guessing this issue does not belong here, but rather in OmniSharp/omnisharp-roslyn.
Actually I'm guessing it's a regression from https://github.com/OmniSharp/omnisharp-roslyn/pull/2168 : I think [OmniSharp.Cake/**/GotoDefinitionHandler.cs](https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Cake/Services/RequestHandlers/Navigation/GotoDefinitionHandler.cs) should have been

[2021-10-06 12:37] nils-a commented on #137
https://github.com/OmniSharp/omnisharp-roslyn/pull/2212 has been merged. Now, the only thing missing is a new version of O#. 🎉

[2021-10-13 06:16] bjorkstromm opened #140 "Use Cake.Core and Cake.Common from Bakery"
No need to resolve actual Cake version used and resolve from there. This will only lead to problems with mismatched TFMs.. By bundling with Bakery, we now that it always should work.

[2021-10-13 13:39] #140 closed, assigned to nobody

[2021-10-14 15:18] augustoproiete opened #141 "Bundle Cake.Core and Cake.Common inside Bakery"

[2021-10-14 15:19] augustoproiete commented on #141
Closing as duplicate of https://github.com/cake-build/bakery/issues/140

[2021-10-14 15:19] #141 closed, assigned to bjorkstromm

[2021-11-08 21:37] gep13 opened #142 "Compile Cake.Bakery using .NET 6.0"
In order to maintain compatibility with Omnisharp, we need to build Cake.Scripting.Transport, and also Cake.Scripting.Abstractions as netstandard2.0 so that these assemblies can be loaded by Omnisharp.

[2021-11-11 13:31] nils-a commented on #137
This has been fixed, as of https://github.com/OmniSharp/omnisharp-roslyn/releases/tag/v1.37.17

[2021-11-11 13:31] #137 closed

[2021-11-11 20:23] #142 closed

[2021-11-13 20:33] gep13 opened #145 "Cake.Bakery.exe 0.7.0 doesn't work on Mac/Linux"
With the release of Cake.Bakery 0.7.0, the main target framework is .NET 6.0.  The generated exe, which is contained with the Cake.Bakery.nupkg works on a Windows machine, however, on a Mac/Linux machine, it fails to run, with the following error:

![image](https://user-images.githubusercontent.com/1271146/141658207-e8311de2-5708-4843-8e74-1bf309d68b2e.png)

There are a couple of ways that this co

[2021-11-13 20:35] #145 closed

[2021-11-13 22:03] bjorkstromm opened #147 "Reference to System.Linq missing"
![image](https://user-images.githubusercontent.com/7863439/141660271-94e1baec-c9ef-4a8e-ae90-df4bc91bb548.png)

[2021-11-14 09:40] #147 closed

[2021-11-14 19:48] gitfool opened #148 "Reference to `System.Text.RegularExpressions` is missing"
Similar to #147, only for `System.Text.RegularExpressions`, this now shows squiggles where it did not, before updating `Cake.Bakery`:

![image](https://user-images.githubusercontent.com/750121/141695907-a6335091-1e53-47c6-b076-4bccf0f3c9fd.png)

Also, since `Cake.Bakery` is tied to the last stable version of `Cake`, the new `DotNet` aliases in `2.0.0-rc0001` show squiggles too.

[2021-11-14 19:51] gitfool commented on #131
Fixed in the latest `Cake.Bakery`. 🎉

[2021-11-14 19:51] #131 closed

[2021-11-14 19:54] pascalberger commented on #148
Could we improve this by using [Basic.Reference.Assemblies](https://github.com/jaredpar/basic-reference-assemblies)?

[2021-11-14 20:05] bjorkstromm commented on #148
Yes, we should definitively use that instead.

[2021-11-24 07:01] #148 closed

[2021-11-24 23:40] devlead commented on #116
Switched to GitHub actions.

[2021-11-24 23:40] #116 closed

[2021-11-24 23:41] devlead commented on #115
Now fixed when Cake.Core/Common ships with Bakery

[2021-11-24 23:41] #115 closed

[2021-11-24 23:42] devlead commented on #19
done

[2021-11-24 23:42] #19 closed

[2021-11-24 23:58] gitfool opened #152 "`Uri` not found in `System` namespace"
After upgrading to `Cake.Bakery` version `0.8.0`:

![image](https://user-images.githubusercontent.com/750121/143326938-f807fa34-6a4b-4551-a88f-76e95336f2de.png)

[2021-11-25 08:01] gep13 commented on #152
This is like playing whack-a-mole!

@devlead is it likely that this will be taken care of by your upstream addition into Cake and then we can pull that RC into bakey?

[2021-11-25 08:02] devlead commented on #152
I'm taking a look if it's a quick fix or not.
Might be in both.

[2021-11-25 08:10] devlead commented on #152
Might have a fix ready, will apply same to cake PR too.
![image](https://user-images.githubusercontent.com/1647294/143403727-24169bde-9e4f-46f7-bfc4-1188e8e50fcb.png)

[2021-11-25 08:53] #152 closed

[2021-11-25 09:08] gep13 commented on #152
@gitfool could you take the latest version for a spin and let us know how you get on?

[2021-11-25 10:30] devlead commented on #132
@flcdrg is it the same issue now that Bakery has been upgraded to .NET 6?

[2021-11-25 10:35] flcdrg commented on #132
I've rebuilt my computer since April and don't have the same scenario. If I do I'll let you know

[2021-11-25 10:40] devlead commented on #114
@bjorkstromm Is this still relevant since we shifted to using the mono from their release?
https://github.com/cake-build/bakery/blob/26195306a987e9cd4c2505c1195204f4dc6695e0/recipe.cake#L39-L42

[2021-11-25 10:43] devlead commented on #132
@flcdrg ok thanks 👍  , then I'll close this, for now as runtime changed and code path doesn't exist anymore since we ship Cake Corer/Common with Bakery now, feel free to re-open or raise a new issue if it occurs again.

[2021-11-25 10:43] #132 closed

[2021-11-25 10:45] devlead commented on #85
@bjorkstromm is this still relevant since we bumped to .NET 3.1/5/6?

[2021-11-25 12:04] devlead opened #154 "Cake XMLDocs aren't packed with Bakery"

[2021-11-25 15:03] bjorkstromm commented on #85
Dunno, need to verify if this is still relevant. There's no GAC anymore, and additional System.* libs should be pulled via NuGet.

[2021-11-25 15:04] bjorkstromm commented on #114
Nope, this can be closed.

[2021-11-25 15:05] #114 closed

[2021-11-25 17:52] gitfool commented on #152
@gep13 All good now, except for new aliases in `Cake` version `2.0.0-rc0001`:

![image](https://user-images.githubusercontent.com/750121/143484771-a3495b46-3c0a-4e16-b1e2-2002607dd2bf.png)

I expect that these will go away post `Cake` version `2.0.0` when a followup `Cake.Bakery` version will reference that too.

[2021-11-25 18:15] gep13 commented on #152
Yes, that is correct.

We will let things settle a little bit here, and then we can ship another release of Bakery targeting the rc version, or we wait until 2.0.0 ships.

[2021-11-25 19:17] devlead opened #157 "Update Cake.Core / Cake.Common to 2.0.0-rc0001"

[2021-11-25 20:43] #154 closed

[2021-11-26 07:30] #157 closed

[2021-11-27 13:02] devlead opened #158 "Update to Cake 2.0 RC2"

[2021-11-27 14:07] #158 closed

[2021-11-30 21:53] devlead opened #161 "Update to Cake 2.0"

[2021-12-01 07:35] #161 closed

[2021-12-10 00:33] nikola-nignite opened #163 "Loading some addins with loaddependencies prevents cake file from being loaded"
If I try to reference some more recent Microsoft nuget packages, VS Code simply does not offer any intellisense or debug support.

I tracked it down to how Cake.Bakery loads references.

In my case, I tried following:
`#addin "nuget:?package=Microsoft.Data.SqlClient&loaddependencies=true&version=4.0.0`

I added some logging to file to Cake.Bakery.Scripting  and got following:

However, if I do not

[2021-12-10 07:21] gep13 commented on #163
@bjorkstromm any thoughts on this one?

I believe I am right in saying that you will see output from Bakery in the Omnisharp log which you can switch to here:

![2021-12-10_07-19-46](https://user-images.githubusercontent.com/1271146/145533608-7ff3859d-e7ea-49f8-903b-ac31f2114f40.png)

[2021-12-10 07:48] bjorkstromm commented on #163
According to logs, Bakery is trying to look at a native library when searching for addins. This should be fixed. Only CLR assemblies should be inspected by Mono Cecil. We already have this check in Cake, so it should be easy to port to Bakery.

[2021-12-10 10:39] nikola-nignite commented on #163
Analysis of cake file isn't full story of this issue. While adding logging, I simply skipped over files which could not be loaded, but there is also an issue in later part of the file. I.e. after ignoring loading in part I described above, I still get error. But this time at least I can see it in OmniSharp Log pane.

![image](https://user-images.githubusercontent.com/80263149/145559884-696f0443-af

[2021-12-10 10:39] nikola-nignite commented on #163
Analysis of cake file isn't full story of this issue. While adding logging, I simply skipped over files which could not be loaded, but there is also an issue in later part of the file. I.e. after ignoring loading in part I described above, I still get error. But this time at least I can see it in OmniSharp Log pane.

![image](https://user-images.githubusercontent.com/80263149/145559884-696f0443-af

[2021-12-10 13:44] nikola-nignite commented on #163
I realized Cake.Bakery logging depends also on OmniSharp logging level. But this realization did not help much :D

![image](https://user-images.githubusercontent.com/80263149/145583103-b892eb59-d23e-43d5-a6bc-3a449453919d.png)

After setting OmniSharp level to Debug and Trace, Cake.Bakery still doesn't log anything. Note that log level is correctly passed to Omnisharp.exe, but it's not propagated

[2021-12-10 14:10] gep13 commented on #163
@nikola-nignite this is completely unrelated to your problem, but where are you getting those screenshots for the arguments that were passed into the executable? I have never seen these before, and now I feel like a noob!

[2021-12-10 15:10] bjorkstromm commented on #163
These logs seems to indicate that native assemblies are passed as metadata references to the compilation. This is a bug. Only CLR assemblies should be passed. Native deps should be filtered out in Bakery. Even better if we could filter out all runtime-dependencies. IIRC, Cake.NuGet "should" already support this, so don't know why this is getting through all the way to the OmniSharp compilation.

[2021-12-10 15:12] bjorkstromm commented on #163
My bad... In Cake we ACTUALLY want runtime deps. In Bakery we don't. So this might be the issue.

[2021-12-10 15:13] nikola-nignite opened #164 "Cake.Bakery logging output does not get displayed in VS Code"
Cake.Bakery logging is not turned on when it gets launched by OmniSharp.

`Cake.Scripting.Transport.Tcp.Client.ScriptGenerationProcess` will never pass `--verbose` argument to _Cake.Bakery.exe_.

**Reason:**
1. `Cake.Scripting.Transport` uses `LoggerFactory` which is passed to it from OmniSharp.
2. Bakery `ScriptGenerationProcess` expects following condition to be met in order to enable verbose lo

[2021-12-10 15:14] nikola-nignite commented on #163
@gep13 Apologies about that. True, they are unrelated issues.
Screenshots come from Process Explorer. It also allows you to see process tree, so that you don't confuse matching instances of OmniSharp.exe and Cake.Bakery.exe

Submitted separate issue #164 . Albeit, it's debatable whether it's Cake.Bakery or OmniSharp bug.

![image](https://user-images.githubusercontent.com/80263149/145591977-e59112

[2021-12-10 23:28] #163 closed

[2021-12-11 23:10] nikola-nignite commented on #163
Thanks for pushing a fast update.
But unfortunately I still experience same issue, with the new release.

One note when testing this fix:
OmniSharp (seems) to cache some of the provided IntelliSense hints.
Looking at screen shot provided in PR, it seems that IntelliSense is working. This happens to me as well under following conditions (it may have happened under different conditions in case of th

[2021-12-11 23:32] devlead commented on #163
nupkg contains a CILproxy exe to work cross-platform with Omnisharps embedded mono runtime which is used on non-Windows OSs.
It just launches Cake.Bakery.dll which is the actual .NET 6 assembly.
It would seem we need to exclude non CIL assemblies earlier

[2021-12-11 23:58] devlead opened #166 "Omnisharp Errors on non CIL assemblies"
Thanks for pushing a fast update.
But unfortunately I still experience same issue, with the new release.

One note when testing this fix:
OmniSharp (seems) to cache some of the provided IntelliSense hints.
Looking at screen shot provided in PR, it seems that IntelliSense is working. This happens to me as well under following conditions (it may have happened under different conditions in case of th

[2021-12-12 00:38] #166 closed

[2021-12-12 19:40] nikola-nignite commented on #166
I must be doing something wrong now, because I experience same issue with basic script :(
Without `loaddependencies`, intellisense works correctly.

This time I don't see anything specific to this being logged. I do get logged occasional `NullReferenceException`, but this also happens when there is no `loaddependencies` enabled.

I'd attempt to be more useful, but I spend more time than I hoped lo

[2021-12-13 11:35] gep13 commented on #163
Apologies about that. True, they are unrelated issues.

There is absolutely no need to apologise here, it was me that was apologising!  I was the one asking the question that had nothing to do with this thread.  I had no idea that you could get information about the command line argument passed through to the process within Process Explorer.  Thank you for sharing that information!

And thank you

[2021-12-14 16:06] KatoStoelen opened #168 "IntelliSense not working for all .cake files in workspace"
cake-vscode v2.0.0
Cake.Bakery v0.9.2

I was previously using `cake-bakery.portable` via Chocolatey to get IntelliSense working for `.cake` files. Worked like a charm until recently. I suspect it stopped working around the launch of `cake-vscode` v2.0.0. Hence, I tried to get the "Enable IntelliSense automatically in the Cake VS Code extension" feature working, without any luck.

In my workspace,

[2022-03-29 19:54] #168 closed

[2022-03-29 20:00] devlead opened #170 "Update to Cake 2.1.0"

[2022-03-29 20:23] #170 closed

[2022-04-15 00:03] devlead opened #172 "Update Cake to version 2.2.0"

[2022-04-15 06:10] #172 closed

[2022-10-14 13:05] devlead opened #174 "Update Cake to version 2.3.0"

[2022-10-14 14:13] #174 closed

[2022-11-08 22:00] devlead opened #176 "Update Cake to version 3.0.0"

[2022-11-09 20:41] #176 closed